In [1]:
input_data = {"A":[15, 4, 7, None, 1],  
                   "B":[8, 2, 44, 3, None],  
                   "C":[20, 15, 11, 2, 8],  
                   "D":[17, 3, None, 1, 6]}

In [2]:
import pandas as pd

df = pd.DataFrame(input_data)

df

      A     B   C     D
0  15.0   8.0  20  17.0
1   4.0   2.0  15   3.0
2   7.0  44.0  11   NaN
3   NaN   3.0   2   1.0
4   1.0   NaN   8   6.0

In [4]:
# DataFrame.transform() function to add 10 to each element of the dataframe

df = df.transform(func = lambda x : x + 10) 
df

      A     B   C     D
0  35.0  28.0  40  37.0
1  24.0  22.0  35  23.0
2  27.0  64.0  31   NaN
3   NaN  23.0  22  21.0
4  21.0   NaN  28  26.0

In [6]:
#  DataFrame.transform() function to find the square root and exponential

input_data = {"A":[15, 4, 7, None, 1],  
                   "B":[8, 2, 44, 3, None],  
                   "C":[20, 15, 11, 2, 8],  
                   "D":[17, 3, None, 1, 6]}

In [7]:
df = pd.DataFrame(input_data)  

df

      A     B   C     D
0  15.0   8.0  20  17.0
1   4.0   2.0  15   3.0
2   7.0  44.0  11   NaN
3   NaN   3.0   2   1.0
4   1.0   NaN   8   6.0

In [8]:
df = df.transform(func = ['sqrt', 'exp'])

df

          A                       B                       C                \
       sqrt           exp      sqrt           exp      sqrt           exp
0  3.872983  3.269017e+06  2.828427  2.980958e+03  4.472136  4.851652e+08
1  2.000000  5.459815e+01  1.414214  7.389056e+00  3.872983  3.269017e+06
2  2.645751  1.096633e+03  6.633250  1.285160e+19  3.316625  5.987414e+04
3       NaN           NaN  1.732051  2.008554e+01  1.414214  7.389056e+00
4  1.000000  2.718282e+00       NaN           NaN  2.828427  2.980958e+03

          D
       sqrt           exp
0  4.123106  2.415495e+07
1  1.732051  2.008554e+01
2       NaN           NaN
3  1.000000  2.718282e+00
4  2.449490  4.034288e+02

In [14]:
#String manipulation

print("Concatenation : ",'hai' + ' ' + 'python') # string concatenation

print("Replication : ","python " * 3)  # string replication

print("Lower to Upper case conversion : ", "python programming".upper()) # lower to upper

print("Upper to Lower case conversion : ", "HAI".lower()) # upper to lower

print("Replace : ", "haw python".replace('w', 'i')) # replace

Concatenation :  hai python
Replication :  python python python
Lower to Upper case conversion :  PYTHON PROGRAMMING
Upper to Lower case conversion :  hai
Replace :  hai python

In [15]:
# Create a function that converts lower case to upper case and upper case to lower case chars in a string

def str_manipulation(S):
    new = ""
    for char in S:
        if(char.isupper()):
            new += char.lower()
        elif(char.islower()):
            new += char.upper()
        else:
            new += char
    return new

In [17]:
str_manipulation(input('Enter a string : '))

Enter a string : Ratna SraVya

'rATNA sRAvYA'

In [18]:
# Intializing a queue
queue = []

In [19]:
# Adding elements in to queue
queue.append('p') 
queue.append('y') 
queue.append('t')
queue.append('h') 
queue.append('o') 
queue.append('n')

In [20]:
queue

['p', 'y', 't', 'h', 'o', 'n']

In [21]:
# Removing elements from the queue  
print(queue.pop(0)) 
print(queue.pop(0)) 
print(queue.pop(0))

p
y
t

In [22]:
queue

['h', 'o', 'n']

In [23]:
# import deque class from collections module
from collections import deque

In [24]:
# Initializing a queue 
q = deque()

In [25]:
# Adding elements to a queue 
q.append('p') 
q.append('y') 
q.append('t')

In [26]:
q

deque(['p', 'y', 't'])

In [27]:
# Removing elements from a queue  
print(q.popleft()) 
print(q.popleft()) 
print(q.popleft())

p
y
t

In [28]:
q

deque([])

In [29]:
# Python program to demonstrate insert operation in binary search tree 

# A utility class that represents an individual node in a BST 
class Node: 
	def __init__(self,key): 
		self.left = None
		self.right = None
		self.val = key 

# A utility function to insert a new node with the given key 
def insert(root,node): 
	if root is None: 
		root = node 
	else: 
		if root.val < node.val: 
			if root.right is None: 
				root.right = node 
			else: 
				insert(root.right, node) 
		else: 
			if root.left is None: 
				root.left = node 
			else: 
				insert(root.left, node) 

# A utility function to do inorder tree traversal 
def inorder(root): 
	if root: 
		inorder(root.left) 
		print(root.val) 
		inorder(root.right) 


# Driver program to test the above functions 
# Let us create the following BST 
#	 50
# /	 \ 
# 30	 80 
# / \ / \ 
# 15 40 60 90 
r = Node(50) 
insert(r,Node(30)) 
insert(r,Node(15)) 
insert(r,Node(40)) 
insert(r,Node(60)) 
insert(r,Node(80)) 
insert(r,Node(90)) 

# Print inoder traversal of the BST 
inorder(r)

15
30
40
50
60
80
90